   <h1>
  Random Results
</h1>

<dl>
  <dt>
    Minimum
  </dt>
  <dd>
    2.0
  </dd>

  <dt>
    Maximum
  </dt>
  <dd>
    6.0
  </dd>

  <dt>
    Random Number
  </dt>
  <dd>
    4.56928526259378
  </dd>
</dl>

<a href="/random/new">
  Pick another random number
</a>
